<div class="blog-wrapper">
  <app-header></app-header>

  <div class="blog-container">
    <!-- Blog navigation -->
    <app-navigation></app-navigation>

    <!-- Blog entries container -->
    <div class="blog-content">
      <!-- Blog search -->
      <app-search [(category)]="category" [(searchTerm)]="searchTerm"></app-search>
      <app-blog-entries [category]="category()" [searchTerm]="searchTerm()"></app-blog-entries>

      <!-- New blog entry container -->
      <app-new-entry></app-new-entry>
    </div>
  </div>
</div>
